<div class="about-container">

  <div class="about-image">
    <img src="../../../../assets/profil.jpg" alt="Portrait du photographe" class="about-photo">
  </div>

  <section class="about">
    <h2>À propos</h2>

    <p>
      Samsei Photography, photographe professionnel depuis plus de 5 ans, réalise des reportages photo créatifs et soignés pour tous vos événements et projets de communication. Passionné par la capture de moments authentiques, je travaille avec la lumière naturelle pour révéler la beauté du quotidien.
    </p>

    <p>
      Basé à Grenoble, je me déplace pour vos projets de mode, mariage, baptême, portraits ou reportage urbain. Que ce soit en studio, en extérieur ou lors de vos événements, je propose des prestations adaptées à chaque besoin : shooting professionnel, couverture d’événements, publicité, retouche avancée ou création de supports visuels.
    </p>

    <p>
      Mon objectif est simple : vous offrir des images modernes, professionnelles et prêtes à l’emploi, tout en mettant en valeur votre histoire et votre identité.
    </p>
  </section>

</div>

<section class="services">
  <h2>Mes Services</h2>

  <div class="services-grid">

    <div class="service-card">
      <h3>Shooting</h3>
      <p>Studio, extérieur, portraits professionnels, CV.</p>
    </div>

    <div class="service-card">
      <h3>Événements</h3>
      <p>Mariage, baptême, anniversaires, cérémonies.</p>
    </div>

    <div class="service-card">
      <h3>Prestations Pro</h3>
      <p>Publicité, retouche avancée, vidéo promotionnelle.</p>
    </div>

    <div class="service-card">
      <h3>Supports visuels</h3>
      <p>Tableaux muraux, flyers, impressions premium.</p>
    </div>

  </div>
</section>

<section class="next-section">
  <h3>Envie d’en discuter ensemble ?</h3>
  <a routerLink="/contact" class="next-btn">Me contacter</a>
</section>
