<p>home works!</p>
<section class="hero">

  <div class="hero-content">
    <h1>Capturer l’instant. Sublimer l’émotion.</h1>

    <p>
      Photographe professionnel basé à Grenoble, je transforme vos moments en images intemporelles.
      Mariages, portraits, événements ou projets créatifs : chaque photo raconte une histoire.
    </p>

    <a routerLink="/gallery" class="cta">Voir la galerie</a>
  </div>

  <div class="hero-image"></div>

</section>

<section class="next-section">
  <h3>Découvrez mes réalisations</h3>
  <a routerLink="/gallery" class="next-btn">Voir la galerie</a>
</section>
